/.idea/modules.xml
/.idea/PaulMcCartney.iml
/.idea/workspace.xml
/python/main1.py
/blankscripts/.ipynb_checkpoints/
/notebooks/.ipynb_checkpoints/
/data/
/python/main2.py
/python/expressions1.py
/python/inception1.py
/python/statements1.py
